In [ ]:
import sklearn
# from sklearn import linear_model,  datasets

In [10]:
# Chargement du fichier CSV : https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database

# Utiliser l'import sklearn déjà présent dans une autre cellule (import sklearn)

df = sklearn.datasets.load_diabetes(as_frame=True)
# Afficher les premières lignes du dataset (les données sont dans df.data et la cible dans df.target)
display(df.data.head())

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [11]:
print(df.data.shape)
print(df.target.shape)

(442, 10)
(442,)

In [14]:
# Use .iloc for row/column slicing on a pandas DataFrame
print(df.data.iloc[:5, :10])
print(df.target.iloc[:5])

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6
0 -0.002592  0.019907 -0.017646
1 -0.039493 -0.068332 -0.092204
2 -0.002592  0.002861 -0.025930
3  0.034309  0.022688 -0.009362
4 -0.002592 -0.031988 -0.046641
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
Name: target, dtype: float64