In [4]:
# Cell: Chargement et exploration de base de iris.csv
import pandas as pd

df = pd.read_csv("student_mat1.csv")

# Aperçu
print('Taille du jeu :', df.shape)
display(df.head())
# Statistiques descriptives
display(df.describe().T)
# Vérifier valeurs manquantes
print('\nValeurs manquantes par colonne:')
print(df.isna().sum())

Taille du jeu : (395, 11)

Taille du jeu : (395, 11)

  school sex   age address     Mjob      Fjob  studytime  absences  G1  G2  G3
0    NaN   F  18.0       U  at_home   teacher        NaN         6   5   6   6
1     GP   F  17.0       U  at_home     other        2.0         4   5   5   6
2     GP   F  15.0       U  at_home     other        2.0        10   7   8  10
3     GP   F  15.0       U   health  services        3.0         2  15  14  15
4     GP   F  16.0       U    other     other        2.0         4   6  10  10

Taille du jeu : (395, 11)

  school sex   age address     Mjob      Fjob  studytime  absences  G1  G2  G3
0    NaN   F  18.0       U  at_home   teacher        NaN         6   5   6   6
1     GP   F  17.0       U  at_home     other        2.0         4   5   5   6
2     GP   F  15.0       U  at_home     other        2.0        10   7   8  10
3     GP   F  15.0       U   health  services        3.0         2  15  14  15
4     GP   F  16.0       U    other     other        2.0         4   6  10  10

           count       mean        std   min   25%   50%   75%   max
age        378.0  16.735450   1.410029  15.0  16.0  17.0  18.0  24.0
studytime  330.0   2.087879   0.952443   1.0   1.0   2.0   2.0   7.0
absences   395.0   6.205063  10.171173   0.0   0.0   4.0   8.0  79.0
G1         395.0  10.908861   3.319195   3.0   8.0  11.0  13.0  19.0
G2         395.0  10.713924   3.761505   0.0   9.0  11.0  13.0  19.0
G3         395.0  10.415190   4.581443   0.0   8.0  11.0  14.0  20.0

Valeurs manquantes par colonne:
school       32
sex           0
age          17
address       0
Mjob          0
Fjob          0
studytime    65
absences      0
G1            0
G2            0
G3            0
dtype: int64