In [16]:
#Charger les données du dataset boston housing
from sklearn import datasets, linear_model
 
# Charger le dataset de maison boston
boston = datasets.load_boston()
#data represente les prédicteurs et target la cible à prédire
print(boston.data.shape)
print(boston.target.shape)

(506, 13)
(506,)

In [17]:
import numpy as np
#afficher les noms des colonnes features
print(boston.feature_names)
#données sur les 5 premiers enregistrements predicteurs
print(boston.data[:5,:10] )
#données sur les 5 premiers enregistrements cibles
print(boston.target[:5,] )
#max, mean et moyenne
print(min(boston.target ),max(boston.target ), np.mean(boston.target))

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']
[[  6.32000000e-03   1.80000000e+01   2.31000000e+00   0.00000000e+00
    5.38000000e-01   6.57500000e+00   6.52000000e+01   4.09000000e+00
    1.00000000e+00   2.96000000e+02]
 [  2.73100000e-02   0.00000000e+00   7.07000000e+00   0.00000000e+00
    4.69000000e-01   6.42100000e+00   7.89000000e+01   4.96710000e+00
    2.00000000e+00   2.42000000e+02]
 [  2.72900000e-02   0.00000000e+00   7.07000000e+00   0.00000000e+00
    4.69000000e-01   7.18500000e+00   6.11000000e+01   4.96710000e+00
    2.00000000e+00   2.42000000e+02]
 [  3.23700000e-02   0.00000000e+00   2.18000000e+00   0.00000000e+00
    4.58000000e-01   6.99800000e+00   4.58000000e+01   6.06220000e+00
    3.00000000e+00   2.22000000e+02]
 [  6.90500000e-02   0.00000000e+00   2.18000000e+00   0.00000000e+00
    4.58000000e-01   7.14700000e+00   5.42000000e+01   6.06220000e+00
    3.00000000e+00   2.22000000e+02]]
[ 24.   21.6  34.7  33.4  36.2]
5.0 50.0 22.5328063241

In [18]:
#utiliser un dataframe pour afficher les stats
import pandas as pd

df = pd.DataFrame(boston.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [19]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [20]:
# Décomposer les données prédicteurs en training/testing  
#ensemble apprentissage et test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(boston.data, boston.target, test_size=0.25,
random_state=33)

In [21]:
#Effectuer un scaling approprié autour de la moyenne et variance
from sklearn.preprocessing import StandardScaler
scalerX = StandardScaler().fit(X_train)
scalery = StandardScaler().fit(y_train.reshape(-1, 1))
X_train = scalerX.transform(X_train)
y_train = scalery.transform(y_train.reshape(-1, 1))

# Décomposer les cibles-targets en training/testing  
X_test = scalerX.transform(X_test)
y_test = scalery.transform(y_test.reshape(-1, 1))

In [27]:
# Créer l'objet linear regression  
#On utilise dans la manipulation: SGRegressor
from sklearn import linear_model
clf_sgd = linear_model.SGDRegressor(loss='squared_loss', max_iter=5,tol=None
                                    ,penalty=None, random_state=42)
# Faire apprendre le model en utilisant les training set
#from sklearn.utils import column_or_1d
clf_sgd.fit(X_train, y_train.ravel())

SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=5, n_iter=None, penalty=None,
       power_t=0.25, random_state=42, shuffle=True, tol=None, verbose=0,
       warm_start=False)

In [32]:
# Affichage des coefficient
print('Coefficients du modele: \n', clf_sgd.coef_)
print ("Coefficient de determination sur échantillon apprentissage:",clf_sgd.score(X_train, y_train))
# mean square error
print("Residual sum of squares: %.2f" % np.mean((clf_sgd.predict(X_test) - y_test) ** 2))
from sklearn.model_selection import  KFold, cross_val_score

Coefficients du modele:
 [-0.08527595  0.06706144 -0.05032898  0.10874804 -0.07755151  0.38961893
 -0.02485839 -0.20990016  0.08491659 -0.05495108 -0.19854006  0.06126093
 -0.37817963]
Coefficient de determination sur échantillon apprentissage: 0.743617732983
Residual sum of squares: 1.74

In [33]:
# créer un iterateur de cross validation k-fold avec k=5  
cv = KFold(5, shuffle=True, random_state=33)
scores = cross_val_score(clf_sgd, X_train, y_train.ravel(), cv=cv)
print ("Moyenne coefficient de determination avec 5-fold crossvalidation:",np.mean(scores))

Moyenne coefficient de determination avec 5-fold crossvalidation: 0.710809853468

In [25]:
#mesurer la performance
from sklearn import metrics
y_pred = clf_sgd.predict(X_test)


print ("Coefficient de determination:{0:.3f}".format( metrics.r2_score(y_test, y_pred)))

Coefficient de determination:0.650

In [26]:

import matplotlib.pyplot as plt
y_pred = clf_sgd.predict(X_test)
#on recouvre les valeurs par inversion de valeurs
print("Valeurs test")
print(scalery.inverse_transform(y_test[:20].ravel()))
print("Valeurs predictions")
print(scalery.inverse_transform(y_pred[:20]))

Valeurs test
[ 20.5   5.6  13.4  12.6  21.2  19.7  32.4  14.8  33.   21.4  30.1  36.
   8.4  21.6  16.3  23.   14.9  14.1  31.1  11.9]
Valeurs predictions
[ 17.86168902  11.20481844  12.59659411  18.26835226  22.79682648
  20.94382003  36.22456352  15.49643251  25.90565528  19.73100676
  26.67818312  36.91162851   5.54809594  25.27292996   9.23896277
  24.43412054  17.71033053  18.49341656  32.44735562  22.14639134]